<div class="container-fluid w-100">
    <h3 class="text-center mt-3 fw-ligth">Form Kategori</h3>
    <form action="../config/saveData.php" method="post">
        <label for="kategoriForm" class="form-label">Kategori</label>
        <input type="hidden" name="hid" value="kategori" />
        <input
            type="text"
            class="form-control"
            name="kategori"
            id="kategoriForm"
        />
        <button class="btn btn-primary mt-3">Tambah</button>
    </form>
</div>
